<section>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade p-2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner rounded-5">
      <div class="carousel-item active">
        <img src="assets/green_fruits.jpeg" class="d-block w-100 card border-0 rounded-5" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/no-cooking.png" class="d-block w-100 card border-0 rounded-5" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/seasonal-fruits.png" class="d-block w-100 card border-0 rounded-5" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/vegetable.png" class="d-block w-100 card border-0 rounded-5" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/fruits.jpg" class="d-block w-100 card border-0 rounded-5" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section>
  <main>
    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="row mt-5 mb-5">
        <div class="col-lg-12 text-center">
          <h4>HOW IT WORKS</h4>
          <h2>Organic Produce from KhetSeGhar</h2>
        </div>
      </div>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3 text-center">
          <img src="assets/produce-box-Photoroom.png" width="150" height="150">
          <h2>Create Box</h2>
          <p>Choose the size of the box that suits your need,You can Create Multiple Boxes and add Surplus too.</p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="assets/farmers-Photoroom.png" width="150" height="150">
          <h2>Empower Farmer</h2>
          <p>We Encourage Farmers to Produce organic Fruits and vegetables and Deliver to your Homes.</p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="assets/schedule-Photoroom.png" width="150" height="150">
          <h2>Schedule</h2>
          <p>Schedule the delivery of the boxes by setting up the frequency one time.</p>
        </div>
        <div class="col-lg-3 text-center">
          <img src="assets/doorstep.svg" width="150" height="150">
          <h2>At your Doorstep</h2>
          <p>We're transparent about our process,get updates via notifications about deliveries.</p>
        </div>
      </div>


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row mt-5 mb-5">
        <div class="col-lg-12 text-center">
          <h4>BOXES</h4>
          <h2>Organic Produce from KhetSeGhar</h2>
        </div>
      </div>

      <div class="row featurette  justify-content-evenly gap-2">
        <div class="col-md-3 text-center card border-0 shadow-lg rounded-5">
          <div class="img p-4">
            <img src="assets/mix-Photoroom.png" width="200" height="220">
          </div>
        <div class="content">
          <h2 class="featurette-heading">Mix Fruit and Vegetables</h2>
          <p class="lead">Get Combination of HandPicked Fruits and vegetables.Good choice for people who don't cook often.</p>
        </div>
      </div>

        <div class="col-md-3 text-center card border-0 shadow-lg rounded-5">
          <div class="img p-3">
            <img src="assets/fruits-Photoroom.png" width="250" height="250">
          </div>
          <div class="content">
            <h2 class="featurette-heading">Organic Fruits</h2>
            <p class="lead">All fruit! This box includes a lovely mix of luscious, ripe organic fruit. It is ideal for folks who adore fruit for snacking, baking, or juicing.</p>
          </div>
        </div>

        <div class="col-md-3 text-center card border-0 shadow-lg rounded-5">
          <div class="img p-3">
            <img src="assets/vegitabels-Photoroom.png" width="250" height="250">
          </div>
          <div class="content">
            <h2 class="featurette-heading">Organic Veggies</h2>
            <p class="lead">This organic vegetable mix, recommended for the committed fellow for green vegetables, adds healthy nutrients to your diet.</p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURES -->

    </div>

    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>
</section>
