<div class="window">
  <header class="window-header">
    <nav class="navigation">
      <div class="navigation-top">
        <a class="navigation-item">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 9.5L12 4L21 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M19 13V19.4C19 19.7314 18.7314 20 18.4 20H5.6C5.26863 20 5 19.7314 5 19.4V13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span class="navigation-item-title">Dashboard</span>
        </a>
        <a   class="navigation-item active">
          <!--          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--            <path d="M3.6 3H20.4C20.7314 3 21 3.26863 21 3.6V20.4C21 20.7314 20.7314 21 20.4 21H3.6C3.26863 21 3 20.7314 3 20.4V3.6C3 3.26863 3.26863 3 3.6 3Z" stroke="currentColor" stroke-width="1.5" />-->
          <!--            <path d="M9.75 9.75V21" stroke="currentColor" stroke-width="1.5" />-->
          <!--            <path d="M3 9.75H21" stroke="currentColor" stroke-width="1.5" />-->
          <!--          </svg>-->
          <img src="assets/erp.jpeg" style="width: 30px;">
          <span class="navigation-item-title">ERP</span>
        </a>
        <a   class="navigation-item">
          <!--          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--            <path d="M2.6954 7.18536L11.6954 11.1854L12.3046 9.81464L3.3046 5.81464L2.6954 7.18536ZM12.75 21.5V10.5H11.25V21.5H12.75ZM12.3046 11.1854L21.3046 7.18536L20.6954 5.81464L11.6954 9.81464L12.3046 11.1854Z" fill="currentColor" />-->
          <!--            <path d="M3 17.1101V6.88992C3 6.65281 3.13964 6.43794 3.35632 6.34164L11.7563 2.6083C11.9115 2.53935 12.0885 2.53935 12.2437 2.6083L20.6437 6.34164C20.8604 6.43794 21 6.65281 21 6.88992V17.1101C21 17.3472 20.8604 17.5621 20.6437 17.6584L12.2437 21.3917C12.0885 21.4606 11.9115 21.4606 11.7563 21.3917L3.35632 17.6584C3.13964 17.5621 3 17.3472 3 17.1101Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--            <path d="M7.5 4.5L16.1437 8.34164C16.3604 8.43794 16.5 8.65281 16.5 8.88992V12.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--          </svg>-->
          <img src="assets/crm.png" style="width: 30px;">
          <span class="navigation-item-title">CRM</span>

        </a>
        <a   class="navigation-item">
          <!--          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--            <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--            <path d="M8 21.1679V14L12 7L16 14V21.1679" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--            <path d="M8 14C8 14 9.12676 15 10 15C10.8732 15 12 14 12 14C12 14 13.1268 15 14 15C14.8732 15 16 14 16 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--          </svg>-->
          <img src="assets/benifit.png" style="width: 30px;">
          <span class="navigation-item-title">Benefits</span>

        </a>
        <a   class="navigation-item navigation-item--notification">
          <!--          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--            <path d="M18 8.4C18 6.70261 17.3679 5.07475 16.2426 3.87452C15.1174 2.67428 13.5913 2 12 2C10.4087 2 8.88258 2.67428 7.75736 3.87452C6.63214 5.07475 6 6.70261 6 8.4C6 15.8667 3 18 3 18H21C21 18 18 15.8667 18 8.4Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--            <path d="M13.73 21C13.5542 21.3031 13.3019 21.5547 12.9982 21.7295C12.6946 21.9044 12.3504 21.9965 12 21.9965C11.6496 21.9965 11.3054 21.9044 11.0018 21.7295C10.6982 21.5547 10.4458 21.3031 10.27 21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />-->
          <!--          </svg>-->
          <img src="assets/payrool.png" style="width: 30px;">
          <span class="navigation-item-title">Payroll</span>

        </a>
      </div>
      <div class="navigation-bottom">
        <a   class="navigation-item">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M19.6224 10.3954L18.5247 7.7448L20 6L18 4L16.2647 5.48295L13.5578 4.36974L12.9353 2H10.981L10.3491 4.40113L7.70441 5.51596L6 4L4 6L5.45337 7.78885L4.3725 10.4463L2 11V13L4.40111 13.6555L5.51575 16.2997L4 18L6 20L7.79116 18.5403L10.397 19.6123L11 22H13L13.6045 19.6132L16.2551 18.5155C16.6969 18.8313 18 20 18 20L20 18L18.5159 16.2494L19.6139 13.598L21.9999 12.9772L22 11L19.6224 10.3954Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          <span class="navigation-item-title">Settings</span>
        </a>
        <a class="navigation-item">
          <img src="favicon.ico">
          <span class="navigation-item-title">Your Profile</span>
        </a>
      </div>
    </nav>
  </header>
  <div class="window-panel">
    <h2 class="section-title">
      Module Relationship
    </h2>
    <button class="button button--edit" (click)="config()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M19.6224 10.3954L18.5247 7.7448L20 6L18 4L16.2647 5.48295L13.5578 4.36974L12.9353 2H10.981L10.3491 4.40113L7.70441 5.51596L6 4L4 6L5.45337 7.78885L4.3725 10.4463L2 11V13L4.40111 13.6555L5.51575 16.2997L4 18L6 20L7.79116 18.5403L10.397 19.6123L11 22H13L13.6045 19.6132L16.2551 18.5155C16.6969 18.8313 18 20 18 20L20 18L18.5159 16.2494L19.6139 13.598L21.9999 12.9772L22 11L19.6224 10.3954Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      Back To Config
    </button>
    <ul class="tree">
      <li class="tree-branch">
        <div class="tree-branch-action">
          <a   class="tree-branch-link active">ERP</a>
          <button class="tree-branch-button">+</button>
        </div>
      </li>
      <li class="tree-branch">
        <div class="tree-branch-action accordion" id="accordionExample">
          <a class="tree-branch-link active" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">SALE</a>
          <button class="tree-branch-button">+</button>
        </div>
        <ul class="tree tree--sub accordion-collapse collapse show" id="collapseOne" data-bs-parent="#accordionExample">
          <li class="tree-branch tree-branch--sub">
            <div class="tree-branch-action" routerLink="sale-quotation/{{router.snapshot.params['_id']}}">
              <a class="tree-branch-link tree-branch-link--sub">Quotation</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action" routerLink="sale-transport/{{router.snapshot.params['_id']}}">
              <a class="tree-branch-link tree-branch-link--sub">Transport</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action" routerLink="sale-do/{{router.snapshot.params['_id']}}">
              <a class="tree-branch-link tree-branch-link--sub">DO</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action" routerLink="sale-invoice/{{router.snapshot.params['_id']}}">
              <a class="tree-branch-link tree-branch-link--sub active">Invoice</a>
              <button class="tree-branch-button">+</button>
            </div>
          </li>
        </ul>
      </li>
      <li class="tree-branch">
        <div class="tree-branch-action">
          <a   class="tree-branch-link" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">PURCHASE</a>
          <button class="tree-branch-button">+</button>
        </div>
        <ul class="tree tree--sub accordion-collapse collapse" id="collapseTwo" data-bs-parent="#accordionExample">
          <li class="tree-branch tree-branch--sub">
            <div class="tree-branch-action" routerLink="purchase-quotation/{{router.snapshot.params['_id']}}">
              <a   class="tree-branch-link tree-branch-link--sub">Quotation</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action" routerLink="purchase-invoice/{{router.snapshot.params['_id']}}">
              <a   class="tree-branch-link tree-branch-link--sub">Invoice</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action">
              <a   class="tree-branch-link tree-branch-link--sub">PO</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action">
              <a   class="tree-branch-link tree-branch-link--sub">Gate Entry</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action">
              <a   class="tree-branch-link tree-branch-link--sub">Goods Receipts</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action">
              <a   class="tree-branch-link tree-branch-link--sub">Goods Pause</a>
              <button class="tree-branch-button">+</button>
            </div>

            <div class="tree-branch-action">
              <a   class="tree-branch-link tree-branch-link--sub">R-Goods Receipt</a>
              <button class="tree-branch-button">+</button>
            </div>
          </li>
        </ul>
      </li>
      <li class="tree-branch">
        <div class="tree-branch-action" routerLink="customer/{{router.snapshot.params['_id']}}">
          <a class="tree-branch-link">CUSTOMER</a>
          <button class="tree-branch-button">+</button>
        </div>
      </li>
      <li class="tree-branch">
        <div class="tree-branch-action" routerLink="employee/{{router.snapshot.params['_id']}}">
          <a   class="tree-branch-link">EMPLOYEE</a>
          <button class="tree-branch-button">+</button>
        </div>
      </li>
      <li class="tree-branch">
        <div class="tree-branch-action">
          <a   class="tree-branch-link">INVENTORY</a>
          <button class="tree-branch-button">+</button>
        </div>
      </li>
      <li class="tree-branch">
        <a   class="tree-branch-link tree-branch-link--404">STOP</a>
      </li>
    </ul>
  </div>
  <main class="window-main">
    <div class="window-main-header">
      <ol class="breadcrumbs">
        <li class="row px-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
        </li>
      </ol>
      <div class="publish-actions">
        <div class="publish-info">
          <input class="form-control" type="text" placeholder="Search">
        </div>
        <button class="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
          </svg>
        </button>
        <button class="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="window-main-body">
      <form class="editor">
<!--        <div class="editor-toolbar">-->
<!--          <h2>Sale Invoice</h2>-->
<!--          <span class="separator"></span>-->
<!--          <button class="editor-toolbar-item dropdown">-->
<!--            <span>Create</span>-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">-->
<!--              <rect width="256" height="256" fill="none"></rect>-->
<!--              <polyline points="208 96 128 176 48 96" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="editor-textarea">-->
<!--          <div class="editor-textarea-editable">-->
<!--            -->
<!--          </div>-->
<!--        </div>-->
        <router-outlet></router-outlet>
      </form>
    </div>
  </main>
</div>
