

<footer class="bg-green-600 dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Company</h2>
        <ul class="text-gray-300 dark:text-white font-medium">
          <li class="mb-4">
            <a href="#" class=" hover:underline">About Us</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Collaborate</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Blog</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Help center</h2>
        <ul class="text-gray-300 dark:text-gray-400 font-medium">

          <li class="mb-4">
            <a href="#" class="hover:underline">Twitter</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Facebook</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Contact Us</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Legal</h2>
        <ul class="text-gray-300 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">Privacy Policy</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Licensing</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Download</h2>
        <ul class="text-gray-300 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">iOS</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Android</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="px-4 py-6 bg-green-600 dark:bg-gray-700 md:flex md:items-center md:justify-between">
        <span class="text-sm text-white dark:text-gray-300 sm:text-center">© 2023 <a href="https://flowbite.com/">KhetSeGhar™</a>. All Rights Reserved.
        </span>
      <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
        <a href="#" class="text-white hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
            <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
          </svg>
          <span class="sr-only">Facebook page</span>
        </a>
        <a href="#" class="text-white hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
            <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
          </svg>
          <span class="sr-only">Twitter page</span>
        </a>
        <a href="#" class="text-white hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 50 50">
            <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
          </svg>
          <span class="sr-only">Instagram account</span>
        </a>

      </div>
    </div>
  </div>
</footer>

