<main class="main">
  <div class="responsive-wrapper">
    <header class="header">
      <div class="header-content">
        <!--    <div class="header-logo">-->
        <!--      <a>-->
        <!--        <div>-->
        <!--          <i class="fi fi-rr-workflow-alt"></i>-->
        <!--        </div>-->
        <!--        <span>HPU</span><span>ERP</span>-->
        <!--      </a>-->
        <!--    </div>-->
        <div class="header-navigation">
          <div class="header-navigation-actions">
            <div class="btn-group me-2">
            <a class="icon-button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fi fi-rr-grid"></i>
            </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item active">
                    <div class="service-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-workflow-alt me-2"></i>
                      ERP
                    </div>
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-square-plus me-2"></i>
                      Explore More Services
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <a class="button erp">
              <i class="fi fi-rr-workflow-alt"></i>
              <span>HPU</span><span>ERP</span>
            </a>
            <a class="sale-button">
              <i class="fi fi-rr-galaxy-star"></i>
              <span>See Plans</span>
            </a>
          </div>
          <div class="header-navigation-actions">
            <a class="button me-2">
              <i class="fi fi-rr-code-compare"></i>
              <span>VERSION</span>&nbsp; : &nbsp;<span>Base</span>
            </a>
            <a class="v-divider me-2"></a>
            <a class="complete-button">
              <i class="fi fi-rr-checkbox"></i>
              <span>COMPLETE</span>
            </a>
            <div class="app-avatar">
              <img class="logo" src="assets/hp.png">
              <a class="avatar">
                <img src="https://files.monday.com/apse2/photos/53811661/thumb/53811661-user_photo_initials_2024_01_03_03_55_14.png?1704254114" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
<!-- <div class="horizontal-tabs">
      <a >My details</a>
      <a >Profile</a>
      <a >Password</a>
      <a >Team</a>
      <a >Plan</a>
      <a >Billing</a>
      <a >Email</a>
      <a >Notifications</a>
      <a  class="active">Integrations</a>
      <a >API</a>
    </div>
    <div class="content-header">
      <div class="content-header-intro">
        <h2>Intergrations and connected apps</h2>
        <p>Supercharge your workflow and connect the tool you use every day.</p>
      </div>
      <div class="content-header-actions">
        <a  class="button">
          <i class="ph-faders-bold"></i>
          <span>Filters</span>
        </a>
        <a  class="button">
          <i class="ph-plus-bold"></i>
          <span>Request integration</span>
        </a>
      </div>
    </div>-->
    <div class="content">
      <div class="content-panel">
        <div class="panel-head">
          <a>
            <div class="panel-item">
              <div class="module-name d-flex align-items-center">
              <i class="fi fi-rr-house-leave me-1"></i>
              Go with defaulters
              </div>
              <i class="fi fi-rr-arrow-small-right"></i>
            </div>
          </a>
        </div>
        <div class="vertical-tabs">
<!--            <details class="tree-nav__item is-expandable">
              <summary class="tree-nav__item-title">
                <span class="add">
                  <i class="fi fi-rr-house-chimney"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
                </span>
                ERP
                <i class="fi fi-rr-menu-dots-vertical add"></i>
              </summary>

              <details class="tree-nav__item is-expandable">

                <summary class="tree-nav__item-title">
                <span>
                  <i class="fi fi-rr-house-chimney"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/></svg>
                </span>
                  Home
                </summary>

                <details class="tree-nav__item is-expandable">
                  <summary class="tree-nav__item-title">The Farseer Trilogy</summary>
                  <div class="tree-nav__item">
                    <table style="width:100%">
                      <tr>
                        <th>IP Address</th>
                        <th>Object Name</th>
                        <th>Domain Name</th>
                        <th>Object Class</th>
                        <th>Status</th>
                        <th>Mac Address</th>
                      </tr>
                      <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                      </tr>
                      <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>94</td>
                      </tr>
                      <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>80</td>
                      </tr>
                    </table>
                  </div>
                </details>

                <details class="tree-nav__item is-expandable">
                  <summary class="tree-nav__item-title">The Tawny Man Trilogy</summary>
                  <div class="tree-nav__item">
                    <a class="tree-nav__item-title"><i class="icon ion-cube"></i> FOOL'S ERRAND</a>
                    <a class="tree-nav__item-title"><i class="icon ion-ios-book"></i> GOLDEN FOOL</a>
                    <a class="tree-nav__item-title"><i class="icon ion-ios-bookmarks"></i> FOOL'S FATE</a>
                  </div>
                </details>

                <details class="tree-nav__item is-expandable">
                  <summary class="tree-nav__item-title">The Fitz and the Fool Trilogy</summary>
                  <div class="tree-nav__item">
                    <a class="tree-nav__item-title"><i class="icon ion-ios-bookmarks"></i> FOOL'S ASSASSIN</a>
                    <a class="tree-nav__item-title"><i class="icon ion-ios-book"></i> FOOL'S QUEST</a>
                    <a class="tree-nav__item-title"><i class="icon ion-android-bookmark"></i> Assassin's Fate</a>
                  </div>
                </details>


              </details>
            </details>-->
          <a>
            <div class="panel-item" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
              <div class="module-name d-flex align-items-center">
              <i class="fi fi-rr-cash-register me-1"></i>
              Sale
              </div>
              <i class="fi fi-rr-angle-small-down"></i>
            </div>
            <div class="btn-group">
              <span class="add-more" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fi fi-rr-menu-dots"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-square-plus me-2"></i>
                  Add Module
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-pen-square me-2"></i>
                      Rename Module
                    </div>
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-trash me-2"></i>
                      Remove Module
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="collapse show" id="collapseExample">
              <a>
                <div class="panel-item active">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Invoice
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                  <i class="fi fi-rr-bullet me-1"></i>
                    Quotation
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Transport
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    DO
                  </div>
                </div>
              </a>
            </div>
          </a>
          <a>
            <div class="panel-item" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-money-check-edit me-1"></i>
                Purchase
              </div>
              <i class="fi fi-rr-angle-small-down"></i>
            </div>
            <div class="btn-group">
              <span class="add-more" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fi fi-rr-menu-dots"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-square-plus me-2"></i>
                      Add Module
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-pen-square me-2"></i>
                      Rename Module
                    </div>
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-trash me-2"></i>
                      Remove Module
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="collapse" id="collapseExample2">
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Invoice
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Quotation
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    PO
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Gate Entry
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Goods Receipts
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    Good Pause
                  </div>
                </div>
              </a>
              <a>
                <div class="panel-item">
                  <div class="module-name d-flex align-items-center">
                    <i class="fi fi-rr-bullet me-1"></i>
                    R-Goods Receipts
                  </div>
                </div>
              </a>
            </div>
          </a>
          <a>
            <div class="panel-item">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-customer-service me-1"></i>
                Customer
              </div>
              <i class="fi fi-rr-angle-small-down"></i>
            </div>
            <div class="btn-group">
              <span class="add-more" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fi fi-rr-menu-dots"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-square-plus me-2"></i>
                      Add Module
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-pen-square me-2"></i>
                      Rename Module
                    </div>
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-trash me-2"></i>
                      Remove Module
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </a>
          <a>
            <div class="panel-item">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-employee-man me-1"></i>
                Employee
              </div>
              <i class="fi fi-rr-angle-small-down"></i>
            </div>
            <div class="btn-group">
              <span class="add-more" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fi fi-rr-menu-dots"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-square-plus me-2"></i>
                      Add Module
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-pen-square me-2"></i>
                      Rename Module
                    </div>
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-trash me-2"></i>
                      Remove Module
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </a>
          <a>
            <div class="panel-item">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-inventory-alt me-1"></i>
                Inventory
              </div>
              <i class="fi fi-rr-angle-small-down"></i>
            </div>
            <div class="btn-group">
              <span class="add-more" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fi fi-rr-menu-dots"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-square-plus me-2"></i>
                      Add Module
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-pen-square me-2"></i>
                      Rename Module
                    </div>
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item">
                    <div class="module-name d-flex align-items-center justify-content-lg-start">
                      <i class="fi fi-rr-trash me-2"></i>
                      Remove Module
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </a>

          <a>
            <div class="panel-item">
              Developer tools
            </div>
          </a>
          <a>
            <div class="panel-item">
              Communication
            </div>
          </a>
          <a>
            <div class="panel-item">
              Productivity
            </div>
          </a>
          <a>
            <div class="panel-item">
              Browser tools
            </div>
          </a>
          <a>
            <div class="panel-item">
              Marketplace
            </div>
          </a>
        </div>
      </div>
      <div class="content-main">
        <div class="main-header">
          <div class="header-container">
            <div class="header-top">
              <div class="header-left gap-2 align-items-center">
                <h1 class="m-0">Sale</h1>
                <i class="fi fi-rr-angle-right"></i>
                <h1 class="m-0">Invoice</h1>
              </div>
              <div class="header-right">
                <div class="header-navigation">
                  <div class="header-navigation-actions">
                    <a class="config-button">
                      <i class="fi fi-rr-disk me-1"></i>
                      <span>Publish</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-description-hint">
              <div class="header-description-content">
                Manage any type of project. Assign owners, set timelines and keep track of where your project stands.
              </div>
              <a class="header-description-hint-seemore">
                <span>See More</span>
              </a>
            </div>
          </div>
          <div class="header-container">
            <div class="header-top border-bottom">
              <div class="header-left">
                <ul class="nav nav-tabs align-items-center" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                      <a class="config-button border-0">
                        <i class="fi fi-rr-magic-wand me-1"></i>
                        <span>Create</span>
                      </a>
                    </button>
                  </li>
                  <a class="v-divider"></a>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                      <a class="config-button border-0">
                        <i class="fi fi-rr-display-code me-1"></i>
                        <span>Display</span>
                      </a>
                    </button>
                  </li>
                  <a class="v-divider"></a>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                      <a class="config-button border-0">
                        <i class="fi fi-rr-compliance me-1"></i>
                        <span>Update</span>
                      </a>
                    </button>
                  </li>
                  <a class="v-divider"></a>
                  <li class="nav-item" role="presentation" data-bs-toggle="dropdown" aria-expanded="false">
                    <button class="nav-link">
                      <a class="config-button border-0">
                        <i class="fi fi-rr-plus"></i>
<!--                        <span>Update</span>-->
                      </a>
                    </button>
                  </li>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item">
                        <div class="module-name d-flex align-items-center justify-content-lg-start">
                          <i class="fi fi-rr-square-plus me-2"></i>
                          Add Module
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item mt-1">
                        <div class="module-name d-flex align-items-center justify-content-lg-start">
                          <i class="fi fi-rr-pen-square me-2"></i>
                          Rename Module
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item mt-1">
                        <div class="module-name d-flex align-items-center justify-content-lg-start">
                          <i class="fi fi-rr-trash me-2"></i>
                          Remove Module
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item">
                        <div class="module-name d-flex align-items-center justify-content-lg-start">
                          <i class="fi fi-rr-square-plus me-2"></i>
                          Add Module
                        </div>
                      </a>
                    </li>
                  </ul>
                </ul>
              </div>
              <div class="header-right d-flex align-items-center">
                <a class="config-button border-0 me-1">
                  <i class="fi fi-rr-eraser"></i>
<!--                  <span>Blank</span>-->
                </a>
                <a class="config-button border-0 me-1">
                  <i class="fi fi-rr-preview"></i>
<!--                  <span>Preview</span>-->
                </a>
                <a class="v-divider me-2"></a>
                <a class="config-button">
                  <i class="fi fi-rr-template-alt me-1"></i>
                  <span>Template</span>
                  <i class="fi fi-rr-angle-small-down ms-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="content-config-panel">
        <!--<div class="card-grid">
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/zeplin.svg" /></span>
                <h3>Zeplin</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Collaboration between designers and developers.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/github.svg" /></span>
                <h3>GitHub</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Link pull requests and automate workflows.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/figma.svg" /></span>
                <h3>Figma</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Embed file previews in projects.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/zapier.svg" /></span>
                <h3>Zapier</h3>
              </div>
              <label class="toggle">
                <input type="checkbox">
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Build custom automations and integrations with apps.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/notion.svg" /></span>
                <h3>Notion</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Embed notion pages and notes in projects.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/slack.svg" /></span>
                <h3>Slack</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Send notifications to channels and create projects.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/zendesk.svg" /></span>
                <h3>Zendesk</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Link and automate Zendesk tickets.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/jira.svg" /></span>
                <h3>Atlassian JIRA</h3>
              </div>
              <label class="toggle">
                <input type="checkbox">
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Plan, track, and release great software.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/dropbox.svg" /></span>
                <h3>Dropbox</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Everything you need for work, all in one place.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/google-chrome.svg" /></span>
                <h3>Google Chrome</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Link your Google account to share bookmarks across your entire team.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/discord.svg" /></span>
                <h3>Discord</h3>
              </div>
              <label class="toggle">
                <input type="checkbox" checked>
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Keep in touch with your customers without leaving the app.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <div>
                <span><img src="https://assets.codepen.io/285131/google-drive.svg" /></span>
                <h3>Google Drive</h3>
              </div>
              <label class="toggle">
                <input type="checkbox">
                <span></span>
              </label>
            </div>
            <div class="card-body">
              <p>Link your Google account to share files across your entire team.</p>
            </div>
            <div class="card-footer">
              <a >View integration</a>
            </div>
          </article>
        </div>-->
          <router-outlet></router-outlet>
        </div>
      </div>
      <div id="panel-toggle" class="content-type-panel">
        <div class="panel-head">
          <div class="d-block">
            <div class="panel-item data-type" (click)="toogle()">
              <div class="module-name d-flex align-items-center">
              <i class="fi fi-rr-angle-circle-left me-2"></i>
              <h6 class="m-0">Data type</h6>
            </div>
          </div>
          </div>
        </div>
        <div class="vertical-tabs">
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-text me-2"></i>
                Text
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-circle-0 me-2"></i>
                Number
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-calendar-clock me-2"></i>
                Date
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-dot-circle me-2"></i>
                Radio
              </div>
            </div>
          </a>

          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-password me-2"></i>
                Password
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-text-box me-2"></i>
                Text Area
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-checkbox me-2"></i>
                Checkbox
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-choose me-2"></i>
                Select
              </div>
            </div>
          </a>

          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-at me-2"></i>
                Email
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-url me-2"></i>
                Url
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-address-book me-2"></i>
                Phone Number
              </div>
            </div>
          </a>
          <a class="d-block">
            <div class="panel-item ">
              <div class="module-name d-flex align-items-center">
                <i class="fi fi-rr-usd-circle me-2"></i>
                Currency
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


</main>


