/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nice-form-group canvas{
  border: 1px solid gainsboro;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
}

.fas.fa-trash-alt {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background-color: #dc354526;
  color: #dc3545;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
}

.fas.fa-trash-alt:hover{
  background-color: #dc3545;
  color: #FFFFFF;
}

input[type="checkbox"] {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
