
<div class="d-flex">
  <div class="col-md-12 col-xl-12 p-0">
    <form #create="ngForm" (ngSubmit)="submit(create.value)" class="was-validated" ngNativeValidate>
      <div class="card m-0 shadow-none">
        <div class="card-header d-flex align-items-center justify-content-between p-3">
          <div class="d-flex align-items-center">
            <mat-icon>receipt</mat-icon>
            <h4 class="m-0 ms-2">Create</h4>
          </div>
          <div class="ml-auto d-flex align-items-center justify-content-md-around">
            <a class="nav-link border-0 p-0" type="button"
               [matTooltip]="'Refresh these changes'" (click)="ngOnInit()">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bootstrap-reboot action-button" viewBox="0 0 16 16">
                <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.8 6.8 0 0 0 1.16 8z"/>
                <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324z"/>
              </svg>
            </a>
            <!--<a class="nav-link border-0 p-0 ms-1" type="button"
               data-bs-toggle="tooltip" data-bs-placement="left"
               data-bs-title="Print these invoice">
                <svg data-bs-toggle="modal" data-bs-target="#staticBackdropCreateSale" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-printer-fill action-button" viewBox="0 0 16 16">
                    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                </svg>
            </a>-->
          </div>
        </div>
        <div class="card-body">
          <div class="row p-3 g-3">
            <div class="col-md-6" *ngFor="let Data of data;  let i = index;">
              <label for="{{Data.key}}_{{i}}" class="form-label">{{Data.key}}</label>
              <input [type]="Data.type" [(ngModel)]="Data.default" name="{{Data.key}}_{{i}}" id="{{Data.key}}_{{i}}" class="form-control">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please check a input or give the correct.
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let arrayItem of Data; let i = index">
        <div class="card-header detailed-head d-flex align-items-center p-3">
          <div class="d-flex align-items-center">
            <h4 class="m-0 ms-2">Product Details</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row m-3 mt-4 p-3 g-3 product-counter position-relative">
            <div class="col-md-12 d-flex m-0 align-items-center justify-content-md-between product-counter-heading">
              <h4 class="form-label p-1 ps-3 pe-3 m-0 fs-4 bg-white product-counter-action"
                  [matTooltip]="'How many product added'">Product</h4>
              <div class="bg-white product-counter-action me-4 d-flex align-items-center justify-content-md-around">
                <a class="nav-link border-0 p-0" type="button"
                   [matTooltip]="'Add more products'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle-fill action-button" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                  </svg>
                </a>
                <a class="nav-link border-0 p-0 ms-1" type="button"
                   [matTooltip]="'Remove these product'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-dash-circle-fill action-button" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-md-6" *ngFor="let Item of arrayItem.value;let i = index">
              <label for="{{Item.key}}_{{i}}" class="form-label">{{Item.key}}</label>
              <input type="text" class="form-control" id="{{Item.key}}_{{i}}" name="{{Item.key}}_{{i}}">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please check a input or give the correct.
              </div>
            </div>
          </div>
        </div>
        </div>

        <button type="submit" class="btn btn-outline-primary p-1 fs-5 w-75 mb-3 sub-btn">SUBMIT</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal for print -->
<div class="modal fade" id="staticBackdropCreateSale" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-printer bg-info p-2 mb-3" viewBox="0 0 16 16">
        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
      </svg>
      <h3 class="fs-3">Is your printer is connect?</h3>
      <p>Do you really want <b>SUBMIT and PRINT</b> these invoice</p>
      <button class="accept" data-bs-dismiss="modal" aria-label="Close">Okay</button>
    </div>
  </div>
</div>

