ion-header{
  box-shadow: none !important;
  background: #c8d1b7;
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(180deg, rgba(110, 134, 64, 0.77) 50%, transparent 110%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0%;
  z-index: -1000000;
  height: 240px;
  border-bottom-right-radius: 65%;
  border-bottom-left-radius: 65%;
}

.font{
  margin-left: 1rem;
  color: #cc3737;
  font-weight: bold;
}
.font1{
  margin-left: 1rem;
  color: rgba(94, 128, 29, 0.77);
  font-weight: bold;

}

ion-card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.selected {
  border: 2px solid rgba(71,106,3,0.77);
  box-shadow: 0 0 10px rgba(71,106,3,0.3);
}

.btn-primary {
  color: #fff;
  background-color: #6e8640c4;
  border-color: #6e8640c4;
}
