<ion-header>
  <ion-toolbar>
    <div class="p-1 d-flex gap-1 align-items-center justify-content-between">
      <ion-back-button defaultHref="" (click)="navCtrl.back()" slot="start" ></ion-back-button>
      <ion-title>Box Items</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="bg"></div>

  <ion-searchbar
    [debounce]="1000"
    (ionInput)="search()"
    (ionFocus)="handleFocus()"
    [(ngModel)]="itemQuery"
  ></ion-searchbar>

  <ion-list style="max-height: 300px" class="overflow-scroll w-100 p-0" *ngIf="showResults">
    <ion-item>
      <ion-label>List of fruits and vegetables for your box...</ion-label>
      <ion-icon style="color: #d51515" name="close-circle" (click)="showResults=false"></ion-icon>
    </ion-item>
    <ion-item  *ngFor="let result of results">
      <ion-label>{{ result.name }}
      </ion-label>
      <ion-icon name="add-circle" (click)="addItems(result.name)"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="select">
    <div class="content-wrapper">
      <img src="assets/delivery-box_4047598.png" alt="Organic Box">
      <h2>Customize Your Box</h2>
      <p>Before each delivery, you'll have the ability to log in and make replace to the items arriving in your box.</p>
    </div>
  </div>

  <ion-list [inset]="true" *ngFor="let items of boxItems">
      <ion-item>
        <ion-label>{{ items.produce }} {{ items.quantity }} {{ items.unit }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="medium" (click)="plusMinus('minus',items)">
            <ion-icon name="remove-circle" style="color: #e41515"></ion-icon>
          </ion-button>{{ items.quantity}}{{ items.unit }}
          <ion-button fill="clear" (click)="plusMinus('plus',items)">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>




</ion-content>
