
<div class="main">
  <nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand me-2">
      <img class="logo-img" src="assets/Company%20logoBusiness%20logoBrand%20logo%20-%20Made%20with%20PosterMyWall%20(1).png">
    </a>
    <h4>HP Unified <br> Platform</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mb-0" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll align-items-center" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link">
            <form class="container-fluid">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </span>
                <input type="search" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            ContactUs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">
            <button class="btn btn-outline-success signIn" type="submit">SignIN</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">
            <button class="btn btn-outline-success signUp" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">SignUP</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--  services  -->
<section class="services mt-5">
  <div class="services-container">
    <div class="header-services-text">
      <h1 data-aos="fade-up">We Can Serve You</h1>
      <div class="divider"></div>
      <p data-aos="fade-up">Boost your team’s alignment, efficiency, and productivity by<br>customizing any workflow to fit your needs.</p>
    </div>
  </div>
</section>
<!--  end   -->

<div class="container">

  <div class="card" data-aos="fade-up">
<!--    <img class="sub-img" src="assets/undraw_building_websites_i78t.svg">-->
    <div class="d-flex align-items-center justify-content-sm-between">
    <h2 class="sub-img">ERP</h2>
    <img class="logo-img" src="assets/ErpLogo.png">
    </div>
    <div class="paragraph">
      <p>Any relevant information that the client needs to know, such as the ERP system being used, specific methodologies or technologies applied, and any assumptions made during the quote creation.</p>
    </div>
      <a>Learn More...</a>
  </div>

  <div class="card" data-aos="fade-up">
<!--    <img class="sub-img" src="assets/undraw_team_collaboration_re_ow29.svg">-->
<!--    <img class="logo-img" src="assets/CrmLogo.png">-->
    <div class="d-flex align-items-center justify-content-sm-between">
      <h2 class="sub-img">CRM</h2>
      <img class="logo-img" src="assets/CrmLogo.png">
    </div>
    <div class="paragraph">
      <p>CRM providers offer custom solutions tailored to the specific needs of larger enterprises. These usually come with negotiated pricing based on the features and services required.</p>
    </div>
    <a>Learn More...</a>
  </div>

  <div class="card" data-aos="fade-up">
<!--    <img class="sub-img" src="assets/undraw_shopping_re_hdd9.svg">-->
<!--    <img class="logo-img" src="assets/AttendanceaLogo.png">-->
    <div class="d-flex align-items-center justify-content-sm-between">
      <h2 class="sub-img">PAYROLL</h2>
      <img class="logo-img" src="assets/AttendanceaLogo.png">
    </div>
    <div class="paragraph">
      <p>Payroll refers to the process of managing the financial aspects of employee, It involves calculating and disbursing salaries, wages, bonuses, and deductions to employees for their work during a specific pay period.</p>
    </div>
    <a>Learn More...</a>
  </div>

  <div class="card" data-aos="fade-up">
<!--    <img class="sub-img" src="assets/undraw_shopping_re_hdd9.svg">-->
<!--    <img class="logo-img" src="assets/benifit.png">-->
    <div class="d-flex align-items-center justify-content-sm-between">
      <h2 class="sub-img">BENEFITS</h2>
      <img class="logo-img" src="assets/benifit.png">
    </div>
    <div class="paragraph">
      <p>Benefits can be described as the advantages, gains, or positive outcomes derived from a particular action, service, or product. it often refers to the advantages or perks that users or consumers gain by utilizing that service.</p>
    </div>
    <a>Learn More...</a>
  </div>

</div>

</div>

<!--<footer>-->
<!--  <p>-->
<!--    Terms of Use Privacy Policy-->
<!--  </p>-->
<!--</footer>-->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="Container" id="container">
          <div class="form-container sign-in-container" ngNativeValidate>
            <form #signIN="ngForm" (ngSubmit)="signIn(signIN.value)">
              <h1>Sign Up</h1>
<!--              <div class="social-container">-->
<!--                <a class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                <a class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                <a class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--              </div>-->
<!--              <span>or use your account</span>-->
              <input type="text" name="tenantID" [(ngModel)]="id" placeholder="Tenant ID" required>
              <input type="text" name="tenantName" [(ngModel)]="name" placeholder="Account" required>
              <a>Forgot your password?</a>
              <button type="submit" data-bs-dismiss="modal">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer_area section_padding_130_0">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">About</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a >About Us</a></li>
              <li><a >Corporate Sale</a></li>
              <li><a >Terms &amp; Policy</a></li>
              <li><a >Community</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Support</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a >Help</a></li>
              <li><a >Support</a></li>
              <li><a >Privacy Policy</a></li>
              <li><a >Term &amp; Conditions</a></li>
              <li><a >Help &amp; Support</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Contact</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a >Call Centre</a></li>
              <li><a >Email Us</a></li>
              <li><a >Term &amp; Conditions</a></li>
              <li><a >Help Center</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">Follow</h5>
          <!-- Footer Logo-->
          <div class="footer-logo mb-3 d-flex justify-content-lg-start align-items-center gap-2">
            <img src="assets/Company%20logoBusiness%20logoBrand%20logo%20-%20Made%20with%20PosterMyWall%20(1).png">
            <h5 class="mb-0">Hari Priya <br> Unified Platform</h5>
          </div>
          <p>On Social Handles</p>
          <!-- Footer Social Area-->
          <div class="footer_social_area">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
              </svg>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
              </svg>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <button class="continue-services signUp p-2" routerLink="sign-up">Complete-Sign-Up</button>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-12 copywrite-text">
        <div class="single-footer-widget section_padding_0_130">
          <p>Copyright © 2024 All rights reserved by haripriyagrp.com | This template is made with by ankit@haripriyagrp.com</p>
        </div>
      </div>
    </div>
</footer>
<div class="bubble">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
