/*@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');!* You can add global styles to this file, and also import other style files *!*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html, body { height: 100%; }
* {margin:0; padding:0; box-sizing:border-box;}
body { position: relative; font-family: Roboto, sans-serif; }
