

<ion-content class="ion-padding main-case">
  <div class="bg"></div>

  <ion-row class="row g-3">
    <div class="col-md-6">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <h2 class="card-title mt-0 title-case d-flex align-items-center justify-content-start"><img src="assets/Company%20logoBusiness%20logoBrand%20logo%20-%20Made%20with%20PosterMyWall%20(1).png" width="40px" class="me-2" alt="...logo">HP KhetSeGhar</h2>
          <h1 class="card-text mt-1 subtitle-case">Fresh & Healthy <i class="highlight-case">Groceries</i> For You</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center mt-0 hero-case">
      <img src="assets/ai-generated-8793076_1280-removebg-preview.png" class="w-75" style="margin-bottom: 20%;" >
      <span class="bottom-shape">
        <button type="button" class="btn btn-primary w-75 signup-btn" routerLink="/signup">Signup</button>
        <button type="button" class="btn btn-primary w-75 login-btn" routerLink="/login">Login</button>
      </span>
    </div>
  </ion-row>
</ion-content>
