<ion-header [translucent]="true">

  <div class="p-1 d-flex gap-1 align-items-center justify-content-between">

    <ion-back-button defaultHref="select-box-size" slot="start" ></ion-back-button>
    <ion-title>Box Containt</ion-title>
  </div>

</ion-header>


<ion-content >
  <ion-grid >
    <div class="bg"></div>
    <h3  class="bucket m-0 pt-0 p-3 pb-0" >JUMBO</h3>


    <ion-card size="12" size-lg="6" class="relative pl-custom-padding" class="card border-0 m-2" style="max-width: 540px;" routerLink="/create-jumbo-box">
      <ion-item lines="none">
        <ion-col size="auto" class="m-1 modal-head" >
          <div class="fruit-img text-bg-dark border-0 shadow-none bg-primary">
            <img src="assets/pngtree-pumpkin-cartoon-theme-clipart-png-image_5524861-Photoroom.png" width="85px" class="card-img" alt="...">
          </div>
        </ion-col>
        <ion-label class="ion-text-wrap">
          <p class="ion-text-base ion-font-semibold leading-7 text-gray-900" style="font-weight: bold">0.5kg Apples</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card size="12" size-lg="6" class="relative pl-custom-padding" class="card border-0 m-2" style="max-width: 540px;" routerLink="/create-jumbo-box">
      <ion-item lines="none">
        <ion-col size="auto" class="m-1 modal-head" >
          <div class="fruit-img text-bg-dark border-0 shadow-none bg-primary">
            <img src="assets/122787857-cauliflower-icon-cartoon-isolated-vector-illustration-graphic-design-Photoroom.png" width="75px" class="card-img" alt="..."/>
          </div>
        </ion-col>
        <ion-label class="ion-text-wrap">
          <p class="ion-text-base ion-font-semibold leading-7 text-gray-900" style="font-weight: bold">6 piece Bananas</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card size="12" size-lg="6" class="relative pl-custom-padding" class="card border-0 m-2" style="max-width: 540px;" routerLink="/create-jumbo-box">
      <ion-item lines="none">
        <ion-col size="auto" class="m-1 modal-head" >
          <div class="fruit-img text-bg-dark border-0 shadow-none bg-primary">
            <img src="assets/1549043677-Photoroom.png" width="75px" class="card-img" alt="..."/>
          </div>
        </ion-col>
        <ion-label class="ion-text-wrap">
          <p class="ion-text-base ion-font-semibold leading-7 text-gray-900" style="font-weight: bold">0.5 Mango</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card size="12" size-lg="6" class="relative pl-custom-padding" class="card border-0 m-2" style="max-width: 540px;" routerLink="/create-jumbo-box">
      <ion-item lines="none">
        <ion-col size="auto" class="m-1 modal-head" >
          <div class="fruit-img text-bg-dark border-0 shadow-none bg-primary">
            <img src="assets/onion-19863301-Photoroom.png" width="75px" class="card-img" alt="..."/>
          </div>
        </ion-col>
        <ion-label class="ion-text-wrap">
          <p class="ion-text-base ion-font-semibold leading-7 text-gray-900" style="font-weight: bold">1 kg Onion</p>
        </ion-label>
      </ion-item>
    </ion-card>


    <ion-card size="12" size-lg="6" class="relative pl-custom-padding" class="card border-0 m-2" style="max-width: 540px;" routerLink="/create-jumbo-box">
      <ion-item lines="none">
        <ion-col size="auto" class="m-1 modal-head" >
          <div class="fruit-img text-bg-dark border-0 shadow-none bg-primary">
            <img src="assets/vegitabels-Photoroom.png" width="75px" class="card-img" alt="..."/>
          </div>
        </ion-col>
        <ion-label class="ion-text-wrap">
          <p class="ion-text-base ion-font-semibold leading-7 text-gray-900" style="font-weight: bold">4 pack Fenugreek</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card size="12" size-lg="6" class="relative pl-custom-padding" class="card border-0 m-2" style="max-width: 540px;" routerLink="/create-jumbo-box">
      <ion-item lines="none">
        <ion-col size="auto" class="m-1 modal-head" >
          <div class="fruit-img text-bg-dark border-0 shadow-none bg-primary">
            <img src="assets/water-melon-fruit-illustration-watermelon-slices-watermelon_138676-757-Photoroom.png" width="75px" class="card-img" alt="..."/>
          </div>
        </ion-col>
        <ion-label class="ion-text-wrap">
          <p class="ion-text-base ion-font-semibold leading-7 text-gray-900" style="font-weight: bold">3 kg Watermelon</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <button class="btn btn-primary w-48 rounded-pill continue-button" type="submit" routerLink="/product-details">Contiune <ion-icon name="arrow-forward-outline"/></button>

  </ion-grid>
</ion-content>
