<div class="antialiased bg-gray-50 dark:bg-gray-900">

  <main class="p-4 md:ml-64 h-dvh pt-20 sm:pt-28">

    <!--actions-->
    <div class="border-2 rounded-lg bg-white dark:border-gray-600 h-auto mb-4 p-4">
      <div class="flex items-center justify-between flex-wrap sm:justify-center">
        <div class="flex items-center gap-2">
          <div class="rounded-full p-2 bg-green-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
            </svg>
          </div>
          <div class="navigation sm:pb-3">
            <h3 class="font-medium text-2xl text-black">Purchase products</h3>
            <p>That is the purchase product which is purchase by admin user.</p>
          </div>
        </div>
        <div class="flex items-center">
          <button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-0">
            Add Purchase
          </button>
        </div>
      </div>
    </div>

    <!--table -->
    <div class="border-2 rounded-lg bg-white w-full dark:border-gray-600 h-auto mb-4 main-container relative overflow-scroll">
      <table class="absolute table-auto w-full">
        <thead class="text-sm font-semibold uppercase bg-gray-100 sticky top-0">
        <tr>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-center">S.No</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Created Date</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Farmer Name</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Product</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Category</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Source</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Quantity</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Rate</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Distribute</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Remained</div>
          </th>
          <th class="p-4 pl-2 whitespace-nowrap">
            <div class="font-semibold text-left">Action</div>
          </th>
        </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-100">
        <tr *ngFor="let farmers of farmersProducts;  let i = index">
          <td class="p-2 whitespace-nowrap">
            <div class="text-center">{{i+1}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left">{{farmers.createdAt}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="flex items-center">
              <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="assets/images/farmer.png" width="40" height="40" alt="Alex Shatov"></div>
              <div class="text-gray-800 capitalize font-bold">{{farmers.farmerName}}</div>
            </div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left capitalize">{{farmers.productName}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium capitalize">{{farmers.category}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div [ngClass]="{'text-blue-600' : farmers.source==='market', 'text-lime-600': farmers.source==='farmer'}" class="text-left font-bold capitalize">{{farmers.source}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">{{farmers.quantity}}{{farmers.unit}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-black capitalize">&#8377; {{farmers?.rate}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">{{farmers.distributeQuantity}}{{farmers.unit}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">{{farmers.remainingQuantity}}{{farmers.unit}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium capitalize">
              <button (click)="distributeItem(farmers.productId)" type="button" class="text-white focus:ring-4 bg-green-600 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-0">
                Distribute
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!--pagination-->
    <div class="border-2 rounded-lg bg-white dark:border-gray-600 h-auto mb-4 p-4">
      <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
      </mat-paginator>
    </div>

    <!-- Loading or Error template -->
    <ng-template #loadingOrError>
      <div class="py-3 px-4">
        <span class="block text-sm text-red-500 dark:text-red-400">Error occurred while loading data.</span>
      </div>
    </ng-template>
  </main>
</div>

<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Add Purchase Product
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="marketPurchase">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div class="col-span-2">
            <label for="farmerName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Farmer Name</label>
            <input type="text" formControlName="farmerName" id="farmerName"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="marketPurchase.get('farmerName')?.invalid && marketPurchase.get('farmerName')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid farmer name.
            </p>
          </div>
          <div >
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            <!--                <input type="text" formControlName="category" id="category"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >-->

            <select id="category" formControlName="category" (change)="setItems()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value="Fruit" selected>Fruit</option>
              <option value="Vegetable">Vegetable</option>
            </select>
            <p *ngIf="marketPurchase.get('category')?.invalid && marketPurchase.get('category')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid city.
            </p>
          </div>
          <div class="relative group">
            <label for="productName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <input (click)="isOpen=!isOpen" [ngClass]="{'ring-primary-600 border-primary-600' : isOpen}" readonly type="text" formControlName="productName" id="productName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <div *ngIf="isOpen" id="dropdown-menu" class="absolute w-full max-h-[250px] overflow-scroll mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 space-y-1">
              <!-- Search input -->
              <div class="sticky top-0 bg-white border-b p-1">
                <input (keyup)="searchItems()" [(ngModel)]="itemName" [ngModelOptions]="{standalone:true}" name="itemName" id="itemName" class="block w-full px-4 py-2 text-gray-800 border rounded-md border-gray-300 focus:outline-none" type="text" placeholder="Search items" autocomplete="off">
              </div>
              <!-- Dropdown content goes here -->
              <a *ngFor="let item of searchData" (click)="this.marketPurchase.controls['productName'].setValue(item); isOpen=false" [ngClass]="{'bg-green-50' : this.marketPurchase.controls['productName'].value===item}" class="m-1 block px-4 py-2 text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer rounded-md">{{item}}</a>
              <a *ngIf="searchData.length===0" class="m-1 block px-4 py-2 text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer rounded-md">No Match</a>
            </div>
          </div>
          <!-- <div >
             <label for="productName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
             <input type="text" formControlName="productName" id="productName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
             <p *ngIf="marketPurchase.get('productName')?.invalid && marketPurchase.get('productName')?.touched" class="mt-2 text-pink-600 text-sm">
               Please enter a valid product name.
             </p>
           </div>-->
          <div >
            <label for="rate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rate</label>
            <input type="number" formControlName="rate" id="rate"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="marketPurchase.get('rate')?.invalid && marketPurchase.get('rate')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a rate.
            </p>
          </div>
          <div >
            <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
            <input type="number" formControlName="quantity" id="quantity"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="marketPurchase.get('quantity')?.invalid && marketPurchase.get('quantity')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a quantity.
            </p>
          </div>
          <div >
            <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unit</label>
            <!--                <input type="text" formControlName="unit" id="unit"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >-->

            <select id="unit" formControlName="unit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value="kg" selected>Kg</option>
              <option value="g">Gram</option>
              <option value="piece">Piece</option>
              <option value="liter">Liter</option>
              <option value="dozen">Dozen</option>
              <option value="pack">Pack</option>
              <option value="other">Other</option>
            </select>
            <p *ngIf="marketPurchase.get('unit')?.invalid && marketPurchase.get('unit')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a unit.
            </p>
          </div>
          <div >
            <label for="source" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Source</label>
            <!--                <input type="text" formControlName="source" id="source"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >-->
            <select id="source" formControlName="source" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value="market" selected>Market</option>
              <option value="farmer">Farmer</option>
            </select>
            <p *ngIf="marketPurchase.get('source')?.invalid && marketPurchase.get('source')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid source.
            </p>
          </div>
        </div>
        <div class="flex items-center justify-center space-x-4 border-t pt-4">
          <button (click)="addProduct()" type="submit" class="text-white w-2/5 uppercase bg-lime-600 hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
