<app-navbar></app-navbar>
<app-header-two></app-header-two>
<app-check-location></app-check-location>
<div class="flex flex-wrap justify-center gap-12 mt-10 p-6 w-3/4 mx-auto" id="box-selection">
<div class="border-t-4 border-lime-500 border-b-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" *ngFor="let card of cardsData ; let i = index">
  <a >
    <img class="rounded-2xl p-2" src="{{card.image}}" alt="mix fruit & veggie" />
  </a>
  <div class="p-5 text-center">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ card.header }}</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{card.description}}</p>
    <a (click)="grabBox(card,i+1)" class="inline-flex cursor-pointer items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-full hover:bg-lime-500 focus:ring-4 focus:outline-none focus:ring-lime-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      GRAB THIS BOX
      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg>
    </a>
  </div>

</div>
</div>
<app-testimonial></app-testimonial>
<app-footer></app-footer>

<router-outlet></router-outlet>


