
<!--<div class="container">-->
<!--  <p class="container-title">Here are the features<br>we’re proud of</p>-->

<!--  <div class="gradient-cards">-->
<!--    <div class="card" (click)="navigate()">-->
<!--      <div class="container-card bg-green-box">-->
<!--        <img src="assets/erp.jpeg">-->
<!--        <p class="card-title">ERP</p>-->
<!--        <p class="card-description">Any relevant information that the client needs to know, such as the ERP system being used, specific methodologies or technologies applied, and any assumptions made during the quote creation.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--      <div class="container-card bg-white-box">-->
<!--        <img src="assets/crm.png">-->
<!--        <p class="card-title">CRM</p>-->
<!--        <p class="card-description">CRM providers offer custom solutions tailored to the specific needs of larger enterprises. These usually come with negotiated pricing based on the features and services required.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--      <div class="container-card bg-yellow-box">-->
<!--        <img src="assets/benifit.png">-->
<!--        <p class="card-title">Benefits</p>-->
<!--        <p class="card-description">Benefits can be described as the advantages, gains, or positive outcomes derived from a particular action, service, or product. When discussing the benefits of a service, it often refers to the advantages or perks that users or consumers gain by utilizing that service.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--      <div class="container-card bg-blue-box">-->
<!--        <img src="assets/payrool.png">-->
<!--        <p class="card-title">Payroll</p>-->
<!--        <p class="card-description">-->
<!--          Payroll refers to the process of managing and administering the financial aspects of employee compensation within an organization. It involves calculating and disbursing salaries, wages, bonuses, and deductions to employees for their work during a specific pay period.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="main-container">

  <section class="header-spec">
    <!--    header name   -->
    <div class="header-center">
      <h1 data-aos="fade-up" class="header-line">A platform built for a <br> new way of working</h1>
      <p data-aos="fade-up">What would you like to manage with HpTech.com Work OS?</p>
    </div>
    <!--  end  -->

    <!--    tech name    -->
    <div class="tech-container">
      <label class="tech-option" data-aos="fade-up">
        <input type="checkbox" class="tech-check">
        <div class="tech-inner erp">
          <div class="chek"></div>
          <div class="tech-icon"><i class="fab fa-deviantart"></i></div>
          <div class="tech-name">ERP</div>
        </div>
      </label>

      <label class="tech-option" data-aos="fade-up">
        <input type="checkbox" class="tech-check">
        <div class="tech-inner crm">
          <div class="chek"></div>
          <div class="tech-icon"><i class="fab fa-gg"></i></div>
          <div class="tech-name">CRM</div>
        </div>
      </label>

      <label class="tech-option" data-aos="fade-up">
        <input type="checkbox" class="tech-check">
        <div class="tech-inner payroll">
          <div class="chek"></div>
          <div class="tech-icon"><i class="fab fa-mendeley"></i></div>
          <div class="tech-name">PAYROLL</div>
        </div>
      </label>

      <label class="tech-option" data-aos="fade-up">
        <input type="checkbox" class="tech-check">
        <div class="tech-inner benefits">
          <div class="chek"></div>
          <div class="tech-icon"><i class="fab fa-magento	"></i></div>
          <div class="tech-name">BENEFITS</div>
        </div>
      </label>
    </div>

    <div class="sub-btn" data-aos="fade-up">
      <a (click)="navigate()">Get Start<span><i class="fas fa-chevron-right"></i></span></a>
    </div>
    <!--  end  -->
  </section>

  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>

  <div class="bubble">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>
