<div class="antialiased bg-gray-50 dark:bg-gray-900">

  <main class="p-4 md:ml-64 h-dvh pt-20">

    <!--actions-->
    <div class="border-2 rounded-lg bg-white dark:border-gray-600 h-auto mb-4 p-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <div class="rounded-full p-2 bg-green-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclude" viewBox="0 0 16 16">
              <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1z"/>
            </svg>
          </div>
          <div class="navigation">
            <h3 class="font-medium text-2xl text-black">Farmers Product</h3>
            <p>Show the products which is given by farmers for sale.</p>
          </div>
        </div>
      </div>
    </div>

    <!--table -->
    <div class="border-2 rounded-lg bg-white dark:border-gray-600 h-auto mb-4 main-container relative overflow-scroll">
      <table class="absolute table-auto w-full">
        <thead class="text-sm font-semibold uppercase bg-gray-100 sticky top-0">
        <tr>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">S.No</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Name</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Email</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Contact</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Address</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Produce</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Quantity</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Rate</div>
          </th>
          <th class="p-4 whitespace-nowrap">
            <div class="font-semibold text-left">Price</div>
          </th>
        </tr>
        </thead>
        <tbody class="text-sm divide-y divide-gray-100">
        <tr *ngFor="let farmers of farmersProducts;  let i = index">
          <td class="p-2 whitespace-nowrap">
            <div class="text-center">{{i+1}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="flex items-center">
              <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="assets/images/farmer.png" width="40" height="40" alt="Alex Shatov"></div>
              <div class="text-gray-800 capitalize font-bold">{{farmers.user.firstName}}<br> {{farmers.user.lastName}}</div>
            </div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left">{{farmers.user.email}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">{{farmers.user.contact}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">{{farmers.user.address.zipCode}}, {{farmers.user.address.Village}},<br>
              {{farmers.user.address.Block}}, {{farmers.user.address.District}}, <br> {{farmers.user.address.State}}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-black capitalize">{{farmers.productDetails.productName}}</div>
          </td>
          <td class="p-0 whitespace-nowrap">
            <div class="text-left font-black text-green-500 flex items-center justify-center">
              <svg type="button" data-modal-target="default-modal" data-modal-toggle="default-modal" (click)="requesting(farmers)" [matTooltipClass]="{'tooltip':true}" [matTooltip]="'Create request for purchase'" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle p-1 hover:bg-green-300 hover:text-white rounded-full font-black me-1 cursor-pointer" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
              {{farmers.productDetails.quantity}} {{farmers.productDetails.unit}}
            </div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">
              {{farmers.productDetails.rate}}/{{farmers.productDetails.unit}}
            </div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-left font-medium">&#8377; {{farmers.productDetails.rate * farmers.productDetails.quantity}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!--pagination-->
    <div class="border-2 rounded-lg bg-white dark:border-gray-600 h-auto mb-4 p-4">
            <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>
    </div>

    <div class="border-2 rounded-lg bg-white dark:border-gray-600 h-auto mb-4 p-4">
      <ag-grid-angular
        style="width: 100%; height: 500px;"
        [rowData]="farmersProducts"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        [suppressRowClickSelection]="true"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [class]="themeClass"
      />
    </div>

    <!-- Loading or Error template -->
    <ng-template #loadingOrError>
      <div class="py-3 px-4">
        <span class="block text-sm text-red-500 dark:text-red-400">Error occurred while loading data.</span>
      </div>
    </ng-template>
  </main>
</div>


<!--add purchase request form-->
<!--
<div id="purchaseRequestModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-0rem)] max-h-full">
  <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
    &lt;!&ndash; Modal content &ndash;&gt;
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      &lt;!&ndash; Modal header &ndash;&gt;
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Purchase Request for {{farmerDetail.farmerName}}
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="purchaseRequestModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      &lt;!&ndash; Modal body &ndash;&gt;
      <form [formGroup]="contactInformation">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div class="col-span-2">
            <label for="productId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product ID</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.productId" [ngModelOptions]="{standalone:true}" name="productId" id="productId"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div class="col-span-2" >
            <label for="productName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.productName" [ngModelOptions]="{standalone:true}" name="productName" id="productName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.category" [ngModelOptions]="{standalone:true}" name="category" id="category"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.quantity" [ngModelOptions]="{standalone:true}" name="quantity" id="quantity"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unit</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.unit" [ngModelOptions]="{standalone:true}" name="unit" id="unit"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="unitPrice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.unitPrice" [ngModelOptions]="{standalone:true}" name="unitPrice" id="unitPrice"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div class="col-span-2">
            <label for="fullName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" formControlName="fullName" id="fullName"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('fullName')?.invalid && contactInformation.get('fullName')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid name.
            </p>
          </div>
          <div class="col-span-2">
            <label for="contact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact</label>
            <input type="text" formControlName="contact" id="contact"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('contact')?.invalid && contactInformation.get('contact')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid contact.
            </p>
          </div>
          <div class="col-span-4">
            <label for="streetAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street Address</label>
            <input type="text" formControlName="streetAddress" id="streetAddress"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('streetAddress')?.invalid && contactInformation.get('streetAddress')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid street address.
            </p>
          </div>
          <div >
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
            <input type="text" formControlName="city" id="city"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('city')?.invalid && contactInformation.get('city')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid city.
            </p>
          </div>
          <div >
            <label for="state" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
            <input type="text" formControlName="state" id="state"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('state')?.invalid && contactInformation.get('state')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid state.
            </p>
          </div>
          <div >
            <label for="zipCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zip-Code</label>
            <input type="text" formControlName="zipCode" id="zipCode"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('zipCode')?.invalid && contactInformation.get('zipCode')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid zipCode.
            </p>
          </div>
          <div >
            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
            <input type="text" formControlName="country" id="country"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('country')?.invalid && contactInformation.get('country')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid country.
            </p>
          </div>
        </div>
        <div class="flex items-center justify-center space-x-4 border-t pt-4">
          <button (click)="postRequesting()" type="submit" class="text-white w-2/5 bg-lime-600 uppercase hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
-->

<!-- Main modal -->
<div *ngIf="isOpenModal" id="default-modal" tabindex="-1" aria-hidden="true" role="dialog" aria-modal="true" class="h-full bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40 show overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full flex">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Purchase Request for {{farmerDetail.farmerName}}
        </h3>
        <button (click)="isOpenModal=false" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="default-modal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="contactInformation">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div class="col-span-2 sm:col-span-1">
            <label for="productId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product ID</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.productId" [ngModelOptions]="{standalone:true}" name="productId" id="productId"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label for="productName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.productName" [ngModelOptions]="{standalone:true}" name="productName" id="productName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.category" [ngModelOptions]="{standalone:true}" name="category" id="category"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.quantity" [ngModelOptions]="{standalone:true}" name="quantity" id="quantity"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unit</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.unit" [ngModelOptions]="{standalone:true}" name="unit" id="unit"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div >
            <label for="unitPrice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
            <input type="text" readonly [(ngModel)]="farmerDetail.unitPrice" [ngModelOptions]="{standalone:true}" name="unitPrice" id="unitPrice"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
          </div>
          <div class="col-span-2">
            <label for="fullName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" formControlName="fullName" id="fullName"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('fullName')?.invalid && contactInformation.get('fullName')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid name.
            </p>
          </div>
          <div class="col-span-2">
            <label for="contact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact</label>
            <input type="text" formControlName="contact" id="contact"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('contact')?.invalid && contactInformation.get('contact')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid contact.
            </p>
          </div>
          <div class="col-span-4">
            <label for="streetAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street Address</label>
            <input type="text" formControlName="streetAddress" id="streetAddress"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('streetAddress')?.invalid && contactInformation.get('streetAddress')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid street address.
            </p>
          </div>
          <div >
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
            <input type="text" formControlName="city" id="city"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('city')?.invalid && contactInformation.get('city')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid city.
            </p>
          </div>
          <div >
            <label for="state" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
            <input type="text" formControlName="state" id="state"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('state')?.invalid && contactInformation.get('state')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid state.
            </p>
          </div>
          <div >
            <label for="zipCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zip-Code</label>
            <input type="text" formControlName="zipCode" id="zipCode"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('zipCode')?.invalid && contactInformation.get('zipCode')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid zipCode.
            </p>
          </div>
          <div >
            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
            <input type="text" formControlName="country" id="country"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            <p *ngIf="contactInformation.get('country')?.invalid && contactInformation.get('country')?.touched" class="mt-2 text-pink-600 text-sm">
              Please enter a valid country.
            </p>
          </div>
        </div>
        <div class="flex items-center justify-center space-x-4 border-t pt-4">
          <button (click)="postRequesting()" type="submit" class="text-white w-2/5 bg-lime-600 uppercase hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
